[submodule "annotators/longevitymap"]
	path = annotators/longevitymap
	url = git@github.com:dna-seq/longevity-annotator.git
[submodule "reporters/longevity2reporter"]
	path = reporters/longevity2reporter
	url = https://github.com/dna-seq/longevity2reporter.git
[submodule "postaggregators/just_cancer"]
	path = postaggregators/just_cancer
	url = https://github.com/dna-seq/just_cancer.git
[submodule "postaggregators/just_coronary"]
	path = postaggregators/just_coronary
	url = https://github.com/dna-seq/just_coronary.git
[submodule "postaggregators/just_drugs"]
	path = postaggregators/just_drugs
	url = https://github.com/dna-seq/just_drugs.git
[submodule "postaggregators/just_longevitymap"]
	path = postaggregators/just_longevitymap
	url = https://github.com/dna-seq/just_longevitymap.git
[submodule "postaggregators/just_prs"]
	path = postaggregators/just_prs
	url = https://github.com/dna-seq/just_prs.git
[submodule "postaggregators/just_cardio"]
	path = postaggregators/just_cardio
	url = https://github.com/dna-seq/just_cardio.git
