bin
test
*.class
*.log
logs

#VIM specific
tags
.*.swp
.*.swo

#MAC OS specific
.DS_Store

# IDE specific
.cache/
.history/
.lib/
dist/*
.idea
.idea/*

# Mal's specific
notebooks/.ipynb_checkpoints
release.html
annotators/longevitymap/__pycache__
data/input/bases
