test
*.class
*.log
logs

#VIM specific
tags
.*.swp
.*.swo

#MAC OS specific
.DS_Store

# IDE specific
.cache/
.history/
.lib/
dist/*
.idea
.idea/*

# Mal's specific
1_Longevity_genes_splitting/notebooks/.ipynb_checkpoints
1_Longevity_genes_splitting/release.html